<!DOCTYPE html>
<html>
<head>
  <title>$Encode.forHtml($localizedMessageResolver.resolveMessage($locale, "redirect.response.template.title"))</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="$Encode.forHtmlAttribute($reservedApplicationContextRoot)/favicon.ico"/>
  <script type="text/javascript">
    function doPost() {

      // using var here for backward-compatibility
      var state = document.createElement('input');
      state.type = 'hidden';
      state.name = 'state';
      state.value = '$Encode.forJavaScript($state)';
      document.forms[0].appendChild(state);

      var encodedNonce = '$Encode.forJavaScript($nonce)';
      var nonce = document.createElement('input');
      nonce.type = 'hidden';
      nonce.name = 'nonce';
      nonce.value = encodedNonce;
      document.forms[0].appendChild(nonce);

      var encodedWebStorage = $Encode.forJavaScript(${webStorage});
      var postParams = document.createElement('input');
      postParams.type = 'hidden';
      postParams.name = 'postParams';
      postParams.value = encodedWebStorage.getItem(encodedNonce);
      document.forms[0].appendChild(postParams);

      encodedWebStorage.removeItem(encodedNonce);
      document.forms[0].submit();
    }
  </script>
</head>
<body onLoad="doPost()">
  <noscript>
    <p>
      <strong>$Encode.forHtml($localizedMessageResolver.resolveMessage($locale, "redirect.response.template.noteLabel")):</strong> $Encode.forHtml($localizedMessageResolver.resolveMessage($locale, "post.preservation.javascript.required"))
    </p>
    <a href="$Encode.forHtmlAttribute(${location})">$Encode.forHtml($localizedMessageResolver.resolveMessage($locale, "redirect.response.template.provider"))</a>
  </noscript>
  <form method="post" action="$Encode.forHtmlAttribute(${location})">
  </form>
</body>
</html>
