<!DOCTYPE html>
<html>
<head>
    <title>$Encode.forHtml($localizedMessageResolver.resolveMessage($locale, "redirect.response.template.title"))</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="$Encode.forHtmlAttribute($reservedApplicationContextRoot)/favicon.ico"/>
    <script type="text/javascript">
        function navigate() {
            window.location = '$Encode.forJavaScript($location)';
        }
    </script>
</head>
<body onLoad="navigate()">
    <noscript>
        <p>
            <strong>$Encode.forHtml($localizedMessageResolver.resolveMessage($locale, "redirect.response.template.noteLabel")): </strong>$Encode.forHtml($localizedMessageResolver.resolveMessage($locale, "redirect.response.template.note"))
        </p>
        <a href="$Encode.forHtmlAttribute($location)">$Encode.forHtml($localizedMessageResolver.resolveMessage($locale, "redirect.response.template.provider"))</a>
    </noscript>
</body>
</html>