<!DOCTYPE html>
#*
The server renders this HTML page in an end-user's browser when
a policy error occurs.

Velocity variables (identified by the $ character) are generated
at runtime by the server.

Change text or formatting as needed. Modifying Velocity statements
is not recommended as it may interfere with expected server behavior.

The following variables are available for use in this template:
    $title          - a title for the content suitable for inclusion in the HTML <title> tag
    $header         - a more specific title suitable for inclusion in body content
    $info           - the specific reason for the policy denial
    $copyright      - a localized copyright message defined by the 'pa.info.global.footerMessage' property in pa-messages.properties
    $trackingId     - a unique identifier for the OAuth token, correlatable with PingFederate audit logs
    $exchangeId     - a unique identifier for the request/response pair processed by PingAccess
    $Encode         - an org.owasp.encoder.Encode class suitable for html encoding strings
    $locale         - a java.util.Locale representing the resolved localization 
    $localizedMessageResolver - a com.pingidentity.pa.sdk.localization.LocalizedMessageResolver
    $orientation    - either 'ltr' or 'rtl' based on $locale
    $applicationId  - a unique identifier for the application requested, or an empty string if the application is not present
    $applicationName - the name of the application requested, or an empty string if the application is not present
    $featureMode    - the feature mode based on the PingAccess license
    $reservedApplicationContextRoot - the context root of the reserved application used to serve static assets

Custom localized messages defined in pa-messages.properties can be added to this template by using the      
$localizedMessageResolver.  For example, if a custom property named 'my.custom.message' was added to pa-messages.properties
and any other locale specific properties files, the localized value can be added to this template with the following:

    $Encode.forHtml($localizedMessageResolver.resolveMessage($locale, "my.custom.message"))

*#

<!-- template name: policy.error.page.template.html -->

#set( $messageKeyPrefix = "policy.error.page.template." )
#set( $lang = $locale.toLanguageTag() )

<html lang="#if($lang != "und")$Encode.forHtmlAttribute($lang)#end" dir="$Encode.forHtmlAttribute($orientation)">
<head>
    <title>#if($title)$Encode.forHtml($title)#end</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="$Encode.forHtmlAttribute($reservedApplicationContextRoot)/assets/css/main.css"/>
</head>

<body>
    
<div class="ping-container">
    
    <!-- 
    if there is a logo present in the 'company-logo' container,
    then 'has-logo' class should be added to 'ping-header' container.
    -->
    <div class="ping-header">
        <span class="company-logo"><!-- client company logo here --></span>
        #if($title)$Encode.forHtml($title)#end
    </div><!-- .ping-header -->

    <div class="ping-body-container">

        <div class="section-title short-message">
            #if($header)$Encode.forHtml($header)#end
        </div>

        <div class="ping-messages ping-nopad">
            <div class="ping-error">
                ## Uncomment below to display additional information about why the policy failed
                #*
                #if($info)$Encode.forHtml($info)#end
                *#
            </div>
        </div>
    </div> <!-- .ping-body-container -->
    
    <div class="ping-footer-container">
        <div class="ping-footer">
            #if("FULL" == $featureMode)
            <div class="ping-credits"></div>
            #else
            <div class="ping-support">$Encode.forHtml($localizedMessageResolver.resolveMessage($locale, "pa.info.global.contact.support"))</div>
            #end
            <div class="ping-copyright">$Encode.forHtml($copyright)</div>
        </div> <!-- .ping-footer -->
    </div> <!-- .ping-footer-container -->
    
</div> <!-- .ping-container -->

</body>
</html>
